h1 {color: blueviolet; font-size:24px;}
        
.supertitle{font-size: 50px; color: blue;}

.central{text-align: center;}

#tituloPrincipal {font-size: 60px; color:brown;}
p {background-color: rgb(212, 54, 14);}

.minhaLista li{
    color: rgb(235, 92, 40);
}
